<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} title {% endblock title %} </title>
</head>
<body>
    <a href="{% url "index" %}">Home</a>
    <a href="{% url "sobre_sistema" %}">Quem Somos</a>
    <a href="{% url "contato" %}">Contato</a>
    <a href="{% url "ajuda" %}">ajuda</a>

    <h1>{% block titulo_pagina %} Título da página {% endblock titulo_pagina %}</h1>
</body>
</html>